body {
    background-color: khaki;
}

/* селектор {
        свойство: значение;
        свойство: значение;
        свойство: значение;
} */
h1 {
    text-align: center;
}

h2 {
    color: black;
    font-size: 20px;
    text-align: center; /* текст по центру */
    font-weight: 200;  /* жирность шрифта */
    /* font-style: italic; */ /* курсив */
    /* text-decoration: underline; /* подчеркнутый текст */ 
    /* text-decoration: line-through; */ /* зачеркнутый текст */
    font-size: 30px; /* размер шрифта в пикселях */


}
/* git add .
git commit -m "add new chapter"
git push origin */
.text {
    font-weight: 900;
    text-transform: uppercase;

}

.text2 {
    font-style: italic;

}

.chapter {
    color: red; 

}

